*{
    background-color: #2D7D5B;
}
body{
    margin: 0 auto;
    text-transform: uppercase;
    background-color: #2D7D5B;
}
.h1,.h6,.form-text{
    margin: 0 auto;
    color:rgba(3, 68, 40, 1.0);
    padding: 5px 0 5px 0;
}
.btn-outline-success,.btn-primary{
    background-color: #034428;
    transition: all 3s ease 2s;
}
.btn-primary{
    margin-left: 10px;
}
.btn-outline-success:hover,.btn-primary:hover{
    transform: rotate(30deg);
    transform-origin:3%;
    background-color: #034428;
}
.dropdown-menu,.dropdown-item{
    background-color: #7FB8A0;
}
.form-label{
    
    font-size: 2rem;
    font-family: serif;
}
navbar-brand{
    font-family: fantasy;
    font-weight: bold;
    font-size: 1.5em;
}